.list-item-add {

    .list-item-add-form {
        display: flex;
    }

    .input-group-buttons {
        display: block;
        width: 35px;
        height: 35px;
    }

    .list-item-reset-button,
    .list-item-add-button {
        display: block;
        padding: 15px 12px;

        span {
            display: block;
            background-color: #43BFA4;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: #F5F5F5;
            padding: 1px 6px;
        }
    }

    .list-item-reset-button {
        display: none;

        span {
            padding: 0 5px;
            background: none;
            border: 1px solid #EB5365;
            color: #EB5365;
            transform: rotate(45deg);
        }
    }

    input {

        &.list-item-title {
            width: auto;
            padding: 12px 8px;
        }
    }

    .list-item-add-form-active {
        .list-item-add-button {
            display: none;
        }

        .list-item-reset-button {
            display: block;
        }
    }

}

.list-item-reset {
    display: inline-block;
    float: left;
    width: 10%;
}

input.input-hidden {
    display: none !important;
}
