// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 14px;
    margin: 20px 0;
    outline: none;
    color: white;
}

.button--main {
    background-color: $purple;
    transition: 0.2s;
 }

.button--disabled {
    opacity: 0.4;
}

.button--warning {
    background-color: $red;
}

.button--success {
    background-color: green;
}

.button--text {
    background-color: grey;
    background-color: transparent;
}

.button--text-warn {
    background-color: transparent;
    color: $red;
}

.button--text-success {
    background-color: transparent;
    color: $red;
}