// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
    display: inline-block;
    width: auto;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 14px 20px;
    margin: 20px 0 0;
    outline: none;
    color: white;

    &.button--full {
        width: 100%
    }
}

.button + .button {
    margin-left: 20px;
}

.button--main {
    background-color: $purple;
    transition: 0.2s;
 }

.button--disabled {
    opacity: 0.4;
}

.button--warning {
    background-color: $red;
}

.button--success {
    background-color: green;
}

.button--text {
    width: auto;
    display: inline-block;
    background-color: transparent;
    transition: 0.2s;

    &:hover {
        background-color: rgba(black, 0.08);
    }
}

.button--text-warning {
    color: $red;
}

.button--text-success {
    background-color: transparent;
    color: $red;
}