// --------------------
// Icons
// --------------------

.icon__tag--list-item,
.icon__functions--list-item {
  width: 16px;
  height: 16px;
  fill: $purple;
  margin: 4px;
}

.icon__keyboard-arrow-down--list-item,
.icon__keyboard-arrow-up--list-item {
  width: 24px;
  height: 24px;
  fill: #ddd;
}