.item-filter {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid #d7d7d7;

        li {
            padding: 4px 10px;
            list-style: none;
            display: inline-block;
            cursor: pointer;
            font-size: 12px;
            border-radius: 2px;

            &.active {
                border: 1px solid #999;
            }
        }
    }
}
