.list-view {

    .list-item-container {
        padding: 12px 15px;
    }

    .list-item {
        cursor: pointer;
    }

    p {
        width: 100%;
        margin: 0;
    }

    .list-count {
        background: #A588BF;
        color: white;
        border-radius: 14px;
        min-width: 26px;
        width: auto;
        height: 26px;
        padding: 5px 9px;
    }

    .list-item-container {
        display: block;
    }

    .list-item-title,
    .list-count {
        display: inline-block;
        width: auto;
    }

    .list-item-title {
        margin: 5px 10px;
    }
    
    .list-count {
        float: right;
    }
}
