.list {
    // margin-top: 15px;
}

.list-form {
    display: flex;
    align-items: center;
}

.list-item,
.list-item-add {
    font-size: 14px;

    input {
        display: inline-block;
        padding: 5px;
        margin: 5px 0;
        width: 33%;
        outline: none;
        border: none;
        background: none;
    }

    .input-group-sub {
        // margin-left: 25px;
        text-align: right;
    }

    .list-item-checkbox-label {
        display: inline-block;
        width: 35px;
        padding: 10px;
    }

    input[type="checkbox"]:checked + .list-item-checkbox-label span {
        width: 6px;
        border-left: none;
        border-top: none;
        transform: rotate(45deg);
        bottom: 2px;
        left: 5px;
    }

    .list-item-checkbox {
        position: relative;
        display: block;
        width: 15px;
        height: 15px;
        border: 2px solid #999999;

        // &.list-item-checkbox-checked {
        //     width: 6px;
        //     border-left: none;
        //     border-top: none;
        //     transform: rotate(45deg);
        //     bottom: 2px;
        //     left: 5px;
        // }
    }

    input[type="checkbox"] {
        display: none;
    }

    .list-item-title {
        width: 100%;
    }

    .currency-prefix {
        display: none;
        color: #999;
        margin-right: 4px;
    }

    .list-item-input-number {
        text-align: right;
        width: 60px;
        background-color: #F5F5F5;
        border-radius: 2px;
        margin-left: 8px;
    }

    // .list-item-amount {
    //     text-align: right;
    // }

    .list-item-options-button {
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 6px 12px;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
    }
}

.list-item {
    background-color: white;
    border-bottom: 1px solid #d7d7d7;

    &:hover {
        .list-item-options-button {
            opacity: 1;
            visibility: visible;
        }
    }

    &.list-item-checked {
        background: none;
        color: #898989;

        .list-item-title {
            font-style: italic;
            text-decoration: line-through;
        }

        .list-item-input-number {
            background: #eaeaea;
        }
    }
}
