.list-item-add {
    .list-item-add-form {
        display: flex;
    }

    label {
        display: inline-block;
        padding: 16px 20px;
    }

    input {
        display: inline-block;
        font-size: 14px;
        padding: 5px 5px 5px 0;
        margin: 5px 0;
        width: 75%;
        outline: none;
        border: none;
        background: none;
    }

    .icon-add {
        width: 24px;
        height: 24px;
        fill: $green;
        transition: 0.2s;
    }

    .list-item-add-form-active {
        .icon-add {
            transform: rotate(45deg);
            fill: #bbb;
        }
    }

}

.list-item-reset {
    display: inline-block;
    float: left;
    width: 10%;
}

input.input-hidden {
    display: none !important;
}
