.list-item-add {

    .list-item-add-form {
        display: flex;
    }

    .input-group-buttons {
        display: block;
        width: 35px;
        height: 35px;
    }

    .button-cancel {
        display: none;
    }

    input {

        &.list-item-title {
            width: 100%;
            padding: 12px 8px;
        }
    }

    .list-item-add-form-active {
        .button-add {
            display: none;
        }

        .button-cancel {
            display: block;
        }
    }

}

.list-item-reset {
    display: inline-block;
    float: left;
    width: 10%;
}

input.input-hidden {
    display: none !important;
}
