.list-item {
  font-size: 14px;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}

.list-item--big {
  .list-item__container {
    padding: 15px 15px 14px;
  }
}

.list-item__container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  //border-bottom: 1px solid #E6E6E6;
  transition: 0.2s;
}


// That green "editing" line

//.list-item__container:after {
//  content: '';
//  display: block;
//  position: absolute;
//  bottom: -1px;
//  left: 0;
//  transform: translateX(50%);
//  width: 50%;
//  height: 2px;
//  opacity: 0;
//  background-color: $green;
//  transition: 0.2s;
//}

.list-item__title {
  width: 100%;
  margin: 5px 10px;
}

.list-item__count {
  background: #A588BF;
  color: white;
  border-radius: 14px;
  font-weight: bold;
  min-width: 26px;
  height: 26px;
  padding: 5px 9px;
}

.list-item__checkbox,
.list-item__submit {
  display: none;
}

.list-item__label--check {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #999999;
}

.list-item__price {
  text-align: right;
  width: 60px;
  background-color: #F5F5F5;
  border-radius: 2px;
  margin-left: 6px;
}

.list-item__option-button {
  padding: 6px;
  cursor: pointer;
}


// Icons

.icon__done {
  width: 24px;
  height: 24px;
  fill: #bbb;
  //animation: checked 0.35s linear;
}

.icon__tag,
.icon__functions {
  width: 16px;
  height: 16px;
  fill: $purple;
  margin: 4px;
}

.icon__keyboard-arrow-down,
.icon__keyboard-arrow-up {
  width: 24px;
  height: 24px;
  fill: #ddd;
}