.list-options {

    // Header
    .list-options__header {
        position: relative;
        padding: 50px 50px 35px;
        background-color: #A588BF;
        color: white;
    }

    .header__left-button {
        position: absolute;
        left: 0;
        top: 0;
        padding: 12px;
        cursor: pointer;
    }

    .icon-arrow_back {
        fill: white;
        height: 24px;
        width: 24px;
    }

    // Container
    .list-options__container {
        padding: 15px;
    }
}
