.list-options {

    // Header
    .list-options-header {
        position: relative;
        padding: 50px 50px 35px;
        background-color: #A588BF;
        color: white;
    }

    .header-back {
        position: absolute;
        left: 15px;
        top: 18px;
        cursor: pointer;
        font-size: 12px;
    }

    // Container
    .list-options-container {
        padding: 15px;
    }
}
