.list-item {
  font-size: 14px;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}

.list-item--big {
  .list-item__container {
    padding: 15px 15px 14px;
  }
}

.list-item__container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  //border-bottom: 1px solid #E6E6E6;
  transition: 0.2s;
}

.list-item__title {
  width: 100%;
  margin: 5px 10px;
}

.list-item__count {
  background: #A588BF;
  color: white;
  border-radius: 14px;
  font-weight: bold;
  min-width: 26px;
  height: 26px;
  padding: 5px 9px;
}