.list-item-add {
    .list-item-add-form {
        display: flex;
    }

    label {
        display: inline-block;
        padding: 16px 20px;
    }

    input {
        display: inline-block;
        font-size: 14px;
        padding: 5px 5px 5px 0;
        margin: 5px 0;
        width: 33%;
        outline: none;
        border: none;
        background: none;
    }

    .icon-plus {
        top: 2px;
        transition: 0.2s;

        &:before,
        &:after {
            transition: 0.2s;
            background-color: $green;
        }
    }

    .list-item-add-form-active {
        .icon-plus {
            transform: rotate(45deg);

            &:before,
            &:after {
                background-color: #bbb;
            }
        }
    }

}

.list-item-reset {
    display: inline-block;
    float: left;
    width: 10%;
}

input.input-hidden {
    display: none !important;
}
