.list-view {

    .list-item-container {
        padding: 12px 15px;
    }

    p {
        // font-size: 18px;
        width: 100%;
        margin: 0;
    }

    .list-count {
        background: #A588BF;
        color: white;
        border-radius: 14px;
        width: 26px;
        height: 26px;
        padding: 5px 9px;
    }
}
