.list-item {
  font-size: 14px;
  display: block;
  transition: 0.2s;
  //opacity: 1;
  //transform: translate3D(0, 0, 0);
}

.list-item--big {
  .list-item__container {
    cursor: pointer;
    padding: 15px 15px 14px;
  }
}

.list-item__container {
  background-color: white;
  border-bottom: 1px solid #E6E6E6;

  :after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: translateX(50%);
    width: 50%;
    height: 2px;
    opacity: 0;
    background-color: $green;
    transition: 0.2s;
  }
}

.list-item__title,
.list-item__input--title {
  width: 100%;
  margin: 5px 10px;
}

.list-item__count {
  background: $purple;
  color: white;
  border-radius: 14px;
  font-weight: bold;
  min-width: 26px;
  height: 26px;
  padding: 5px 9px;
}

.list-item__input {
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
  outline: none;
  border: none;
  background: none;
}

.list-item__input--price {
  text-align: right;
  width: 60px;
  background-color: #F5F5F5;
  border-radius: 2px;
  margin-left: 6px;
}

.arrow-button {
  padding: 6px;
  cursor: pointer;
}


// --------------------
// List Item Checked
// --------------------

.list-item--checked .list-item__container {
  color: $grey-light;
  background: none;

  .checkbox__label {
    padding: 9px 10px 9px 15px;
  }

  .list-item__input--title {
    font-style: italic;
    text-decoration: line-through;
  }

  .list-item__input--price {
    background: $grey-lighter;
  }

  .icon {
    fill: $grey-light-2;
  }

}


// --------------------
// Editing
// --------------------

.list-item--editing .list-item__container {
  &:after {
    opacity: 1;
    width: 100%;
    transform: translateX(0);
  }
}


// --------------------
// Expanded
// --------------------

.list-item--expanded .list-item__container {
  box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.15);
}


// --------------------
// Transition
// --------------------

.list-item-transition-enter,
.list-item-transition-leave.list-item-transition-leave-active {
  transform: translate3D(50%, 0, 0);
  opacity: 0.01;
}

.list-item-transition-leave,
.list-item-transition-enter.list-item-transition-enter-active {
  transform: translate3D(0, 0, 0);
  opacity: 1;
}

// --------------------
// Responsive
// --------------------

@media screen and (min-width: $screen-md-min) {
  .arrow-button {
    opacity: 0;
    visibility: hidden;
  }

  .list-item:hover {
    .arrow-button {
      opacity: 1;
      visibility: visible;
    }
  }
}