// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Fonts
$font-main			 	:	'Open Sans', sans-serif;
// Regular 400, Italic 400, Bold 700, Bold Italic 700


// Colors
$green      : #43BFA4;
$purple     : #A588BF;


// Breakpoints map
// $breakpoints: (
$screen-xl-min		: 	1200px;
// $screen-lg-max		:	screen-xl-min - 1;
$screen-lg-min		: 	992px;
// $screen-md-max		:	screen-lg-min - 1;
$screen-md-min		: 	768px;
// $screen-sm-max		:	screen-md-min - 1;
$screen-sm-min		: 	544px;
// $screen-xs-max		:	screen-sm-min - 1;
$screen-xs-min		:	0;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
