.view-transition {
  background-color: #F5F5F5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .25s ease-in-out;
}

.view-transition-enter {
  transform: translate3D(100%, 0, 0);
  //opacity: 0.01;
  z-index: 100;
}

.view-transition-enter.view-transition-enter-active {
  transform: translate3D(0, 0, 0);
  //opacity: 1;
  z-index: 100;
}

.view-transition-leave {
  transform: translate3D(0, 0, 0);
  //opacity: 1;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 0.15s;
  }
}

.view-transition-leave.view-transition-leave-active {
  transform: translate3D(-100%, 0, 0);
  //opacity: 1;

  &:after {
    opacity: 0.5;
  }
}

.view-transition-reverse-enter {
  transform: translate3D(-25%, 0, 0);
  opacity: 0.01;
  z-index: 100;
}

.view-transition-reverse-enter.view-transition-reverse-enter-active {
  transform: translate3D(0, 0, 0);
  opacity: 1;
  z-index: 100;
}