
.icon-dots-vertical {
    position: relative;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #999;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #999;
    }

    &:before {
        top: -6px;
    }

    &:after {
        bottom: -6px;
    }
}
