// -----------------------------------------------------------------------------
// This file contains basic typography style for copy text
// -----------------------------------------------------------------------------


h1 {
	font-size: 16px;
	line-height: 1.25;
	margin: 0;
	text-align: center;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

ul {

}

ol {

}

li {

}

a {
	color: #A588BF;
}

blockquote {

}

cite {

}

hr {

}

figure {

}

figcaption {

}
