// -----------------------------------------------------------------------------
// This file contains basic typography style for copy text
// -----------------------------------------------------------------------------


h1 {
	font-size: 16px;
	line-height: 1.25;
	margin: 0;
	text-align: center;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
	color: #333333;
	font-size: 14px;
	margin: 8px 0 0;
}

ul {

}

ol {

}

li {

}

a {
	color: #A588BF;
}

blockquote {

}

cite {

}

hr {
	outline: none;
	background: none;
	border: none;
	border-bottom: 1px solid $grey-light-3;
	margin: 25px 0;
}

figure {

}

figcaption {

}
