// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    position: relative;
    padding: 15px 30px;
    background-color: $purple;
    color: white;
    text-align: center;

    a {
        color: white;
        text-decoration: none;
    }

    .header__left-button {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        padding: 12px;
        height: 100%;
    }

    .header__right-button {
        position: absolute;
        width: 60px;
        height: 100%;
        top: 0;
        right: 0;
        padding: 12px;
        text-align: center;
        cursor: pointer;
    }

    .icon__menu,
    .icon__arrow-back,
    .icon__more-vert {
        fill: white;
        height: 24px;
        width: 24px;
    }

    .header__title {
        display: inline-block;
        position: relative;
    }

}
