// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    position: relative;
    padding: 15px 30px;
    background-color: #A588BF;
    color: white;
    text-align: center;

    a {
        color: white;
        text-decoration: none;
    }

    .header-left-button {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        padding: 12px;
        height: 100%;
    }

    .header-right-button {
        position: absolute;
        width: 60px;
        height: 100%;
        top: 0;
        right: 0;
        padding: 12px;
        text-align: center;
        cursor: pointer;
    }

    .icon-menu,
    .icon-arrow_back,
    .more_vert {
        fill: white;
        height: 24px;
        width: 24px;
    }

    .header-title {
        display: inline-block;
        position: relative;
    }

    .title-edit {
        position: absolute;
        right: -30px;
        padding: 10px;
        top: -10px;
    }

}
