form {
    width: 100%;
}

input {
    display: block;
    width: 100%;
    margin: 15px 0;
}

.form-standard {
	display: block;
    margin: 40px 0;

    .input-group { 
        margin: 0 0 18px 0;
    }

    .input-error {
        input {
            border-color: #EB5365;
        }
    }

    .label-error {
        font-size: 11px;;
        font-weight: bold;
        color: #EB5365;
    }

    .label-standard {
        font-size: 12px;
        opacity: 0.6;
    }

    .label-small{
        font-size: 9px;
        opacity: 0.6;
    }

    .input-standard {
    	font-size: 16px;
        background: none;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(black, 0.6);
        padding: 5px 0;
        margin: 0;

        &-light {
        	border-bottom: 1px solid rgba(white, 0.75);
        }

    	&-large {
    		font-size: 24px;
    	}
    }

    .submit-standard {
        display: block;
        width: 100%;
    }
}